
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Interface Microcontrôleur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- <h1>PROCOM Base Roulante</h1> -->
    <div id="global">
        <div id="Gauche">
            <div id="commande">
                <div id="interactions">
                    <div id="prompt">
                        <input id="cmd" placeholder="Entrée pour envoyer">
                        <button onclick="send()">Envoyer</button>
                    </div>
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <div id="moteurs"> <b>
                            <p>M0 : <span id="v_mot0">0</span></p>
                            <p>M1 : <span id="v_mot1">0</span></p>
                            <p id="V">V35</p>
                            <p id="P_T">P4000</p>
                            <p id="S">S128</p>
                            <p id="D">D30</p>
                            <p id="LED">LED ON</p></b>
                        </div>
                        <button id="GO_STOP" onclick="GO_STOP()">GO</button>
                        
                    </div>
                </div>
            <pre id="output"></pre>
            </div>
            
            <canvas id="camCanvas" width="80" height="60"></canvas>
        </div>

        <div id="Droite">
            <canvas id="camCanvasR" width="140" height="190"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- <script>
        // Charger le fichier JSON
        fetch('../config.json')
            .then(response => response.json())
            .then(data => {
                // Afficher les données dans la page
                elem_PT = document.getElementById('P_T');
                if (data.initial_config.mode_P) {
                    elem_PT.innerHTML = "P" + (data.initial_config.P*1000);
                } else {
                    elem_PT.innerHTML = "T" + (data.initial_config.T*1000);
                }
                elem_D = document.getElementById('D');
                elem_D.innerHTML = "D" + data.initial_config.D;
                elem_V = document.getElementById('V');
                elem_V.innerHTML = "V" + data.initial_config.V;
                elem_S = document.getElementById('S');
                elem_S.innerHTML = "S" + data.initial_config.S;
            })
            .catch(error => {
                console.error('Erreur:', error);
            });
    </script> -->
</body>
</html>