body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
}
h1 {
    text-align: center;
}
#global {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#Gauche {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#Droite {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}
#interactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#commande {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#prompt {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#cmd {
    padding: 8px;
    width: 80%;
}
#boutons {
    display: flex;
    gap: 10px;
}
button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    flex: 1;
}
p {
    margin: 4px;
}
#output {
    background: #ccc;
    width: 60%;
    color: #000;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    font-family: monospace;
    border-radius: 5px;
}
#moteurs {
    width: 50%;
}
canvas {
    background: #000;
    border: 1px solid #333;
}
#camCanvasR {
    width: 85%;
    height: auto;
}